<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Traumer Tech</title>
    <link rel="stylesheet"
          type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <div role="navigation" class="border shadow-lg p-3 mb-5 bg- rounded">
        <img class="logo" src="img/alt/logoTOPO.png" alt="TechTraumer">
        <ul class="nav justify-content-end">
            <li clas="nav-item">
                <a class ="nav-link text-black-50"href="/">Home</a>
            </li>
            <li clas="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="navbar-dark">
                <a class="nav-link" href="/produto">Produtos</a>
            </li>
            <li class="navbar-dark">
                <a class="nav-link" href="/contato">Fale Conosco</a>
            </li>
        </ul>
    </div>
    </nav>
</header>
<main>
    <div class="container">
        <%- body %>
    </div>
</main>
<footer class="text-white bg- text-center border shadow-sm p-3 mb-5 rounded">
    <div class="">
        <a class="" href="">Tech for People</a>, Copyright &copy; 2019
    </div>
    <div class="text-black-50 bg-light text-center border shadow-sm p-3 rounded border-left" id="endreco">
        <h5 id="end" class="text-lg-right text-black-50 icon-tag">Endereço</h5>
        <h6 class="text-lg-right">Rua Francisco Mesquita,07 <br>
        13092-511<br>
        4002-8922
        </h6>

        <h5 id="social" class="text-lg-right">Rede Sociais</h5>
        <img src="img/socialMedias/tes/facebook.png" id="facebook" >  </br>
        <img src="img/socialMedias/tes/facebook.png" id="facebook" > </br>
        <img src="img/socialMedias/tes/facebook.png" id="facebook" >
    </div>
</footer>
</body>
</html>