<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Traumer Tech</title>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <link rel="stylesheet"
          type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <div role="navigation" class="border shadow-lg p-3 mb-5 bg- rounded">
        <img class="logo" src="img/alt/logoTOPO.png" height="100" width="100" alt="TechTraumer">
        <ul class="nav justify-content-end">
            <li clas="nav-item">
                <a class ="nav-link text-black-50"href="/">Home</a>
            </li>
            <li clas="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="navbar-dark">
                <a class="nav-link" href="/produtos">Produtos</a>
            </li>
            <li class="navbar-dark">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entrar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropDownMenu">
                        <a class="dropdown-item" href="paginas/cadastro.ejs"> Cadastrar</a>
                        <a class="dropdown-item" href="paginas/cadastro.ejs"> Login</a>
                    </div>
                </div>
            </li>
            <li class="navbar-dark">
                <a class="nav-link" href="/contato">Fale Conosco</a>
            </li>
        </ul>
    </div>
    </nav>
</header>
<main>
    <div class="container">
        <%- body %>
    </div>
</main>
<footer class="text-white bg- text-center border shadow-sm p-3 mb-5 rounded">
    <div class="">
        <a class="" href="">Tech for People</a>


        <h5 id="end" class="text-lg-right text-black-50 icon-tag">Endereço </h5>
       <h6 class="text-lg-right text-black-50">
       Rua Francisco Mesquita,07<br>
       13092-511<br>
       4002-8922<br>
       </h6>
        <div class="">
            <h5 class="text-lg-left text-black-50"> Redes Sociais </h5>
            <img src="img/socialMedias/tes/facebook.png" class="float-left"></br>
            <img src="img/socialMedias/tes/twitter.png" class="float-left"></br>
            <img src="img/socialMedias/tes/instagram.png" class="float-left"></br>
        </div>

    </div>
</footer>
</body>
</html>